
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" ng-show='!viewDirective'>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">RIBY SAVERS INC</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" ui-sref="home">HOME</a>
                </li>
                <li>
                    <a class="page-scroll" ui-sref="services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" ui-sref="team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" ui-sref="dashboard" ng-if="toolbar.check">DASHBOARD</a>
                </li>
                <li>
                    <a class="page-scroll" ui-sref="register" ng-if="!toolbar.check">REGISTER</a>
                </li>
                <li>
                    <a class="page-scroll" ui-sref="login" ng-if="!toolbar.check">LOGIN</a>
                </li>
                <li>
                    <a class="page-scroll" ui-sref="logout" ng-if="toolbar.check">LOGOUT</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>