<header id="home">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To the Riby Savers Platform!</div>
            <div class="intro-heading">It's Nice To Meet You</div>
            <a ui-sref="services" class="page-scroll btn btn-xl">Want to know more?</a>
        </div>
    </div>
</header>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; RIBY SAVERS 2018</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>