<div class="page">
    <div id="login" class="container">
        <div class="main-login main-center">
            <form class="form-horizontal" ng-submit="vm.reset()" name="pass_reset">

                <div class="form-group" show-errors>
                    <label for="password" class="cols-sm-2 control-label">Enter new password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock" aria-hidden="true" href="#"></i>
                            </span>
                            <input type="password" name="password" class="form-control" ng-model="vm.user.password" id="password"
                                placeholder="Enter new Password" required />
                        </div>
                        <p class="help-block" ng-if="pass_reset.password.$error.required">Please Put in a new password</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="password" class="cols-sm-2 control-label">Confirm password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock" aria-hidden="true" href="#"></i>
                            </span>
                            <input type="password" name="password" class="form-control" ng-model="vm.user.password_confirm"
                                id="password" placeholder="Confirm new Password" required />
                        </div>
                        <p class="help-block" ng-if="pass_reset.password.$error.required">Please fill in the field</p>
                    </div>
                </div>

                <div class="form-group" layout="column" layout-align="center">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button" ng-hide="vm.activated">Change</button>
                    <md-progress-circular md-mode="indeterminate" ng-hide="!vm.activated" layout-align='center'></md-progress-circular>
                </div>

            </form>
        </div>
    </div>
</div>