<section id="pricing" class="container wrapper">
    <div>
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 style="color:rgb(94, 94, 94)">Saving Options</h3>
            </div>
        </div>
        <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <div class="row db-padding-btm db-attached" layout layout-align="center">
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                        <div class="light-pricing">
                            <div class="price">
                                <i class="ion-ios-infinite"></i>
                            </div>
                            <div class="type">
                                CONTINUOUS SAVINGS
                            </div>
                            <ul>

                                <li>
                                    <i class="glyphicon glyphicon-hand-right"></i>
                                    Four different Mouth Watering options to Choose from
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-usd"></i>
                                    Interests with Amazing Rates
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-time"></i>
                                    24 Hour Support on Any Option
                                </li>
                            </ul>
                            <div class="pricing-footer">
                                    <!-- href="#savings:continuous" -->
                                <a ng-click='vm.changeRoute("continuous")' style="color:whitesmoke" class="btn button-custom btn-custom-one">SAVE NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                        <div class="light-pricing">
                            <div class="price">
                                <i class="ion-ios-pin"></i>
                            </div>
                            <div class="type">
                                FIXED SAVINGS
                            </div>
                            <ul>

                                <li>
                                    <i class="glyphicon glyphicon-hand-right"></i>
                                    Create a Fixed Savings While Earning Amazing Interest
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-usd"></i>
                                    Interest Rates That will Blow Your Mind
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-time"></i>24/7 Support with Email Assistance</li>
                            </ul>
                            <div class="pricing-footer">
                                <a ng-click='vm.changeRoute("fixed")' style="color:whitesmoke" class="btn button-custom btn-custom-one">SAVE NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>