<section id="pricing" class="container wrapper" ng-if="saving.state == 'continuous'">
    <div>
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Continuous Saving Options</h3>
                <hr />
            </div>
        </div>
        <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">

            <!-- <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1"> -->
                <div class="">
                <div class="row db-padding-btm db-attached">
                    <div>
                        <div class="light-pricing col-lg-3 col-md-3">
                            <div class="price">
                                4
                                <sup>%</sup>
                                <small>AS INTEREST</small>
                            </div>
                            <div class="type">
                                JUMBO
                            </div>
                            <ul>
                                <li>
                                    <i class="glyphicon glyphicon-usd"></i>
                                    Interests from 4% up to 6%
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-time"></i>
                                    Minimum of 1 Year
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-lock"></i>
                                    Minimum of 200 Thousand
                                </li>
                            </ul>
                            <div class="pricing-footer">
                                <a ng-click='saving.changeRoute("jumbo")' class="btn btn3 button-custom btn-custom-one">SAVE
                                    NOW</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="light-pricing popular col-lg-3 col-md-3">
                            <div class="price">
                                3
                                <sup>%</sup>
                                <small>AS INTEREST</small>
                            </div>
                            <div class="type">
                                PREMIUM
                            </div>
                            <ul>
                                <li>
                                    <i class="glyphicon glyphicon-usd"></i>
                                    Interests from 3% up to 5%
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-time"></i>
                                    Minimum of 8 Months
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-lock"></i>
                                    Minimum of 150 Thousand
                                </li>
                            </ul>
                            <div class="pricing-footer">
                                <a ng-click='saving.changeRoute("premium")' class="btn btn3 button-custom btn-custom-one">SAVE
                                    NOW</a>
                            </div>
                        </div>
                    </div>
                    <div >
                        <div class="light-pricing col-lg-3 col-md-3">
                            <div class="price">
                                2
                                <sup>%</sup>
                                <small>AS INTEREST</small>
                            </div>
                            <div class="type">
                                FAMILY
                            </div>
                            <ul>
                                <li>
                                    <i class="glyphicon glyphicon-usd"></i>
                                    Interests from 2% up to 4%
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-time"></i>
                                    Minimum of 6 Months
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-lock"></i>
                                    Minimum of 100 Thousand
                                </li>
                            </ul>
                            <div class="pricing-footer">
                                <a ng-click='saving.changeRoute("family")' class="btn btn3 button-custom btn-custom-one">SAVE
                                    NOW</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="light-pricing col-lg-3 col-md-3">
                            <div class="price">
                                2
                                <sup>%</sup>
                                <small>AS INTEREST</small>
                            </div>
                            <div class="type">
                                PERSONAL
                            </div>
                            <ul>
                                <li>
                                    <i class="glyphicon glyphicon-usd"></i>
                                    Interests from 2% up to 3%
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-time"></i>
                                    Minimum of 5 Months
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-lock"></i>
                                    Minimum of 50 Thoudand
                                </li>
                            </ul>
                            <div class="pricing-footer">
                                <a ng-click='saving.changeRoute("personal")' class="btn btn3 button-custom btn-custom-one">SAVE
                                    NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pricing" class="container wrapper" ng-if="saving.state == 'fixed'">
    <div>
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Fixed Saving Options</h3>
                <hr />
            </div>
        </div>
        <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">

            <div>
                <div class="row db-padding-btm db-attached">
                    <div>
                        <div class="light-pricing col-lg-3 col-md-3">
                            <div class="price">
                                <i class="ion-ios-nuclear"></i>
                            </div>
                            <div class="type">
                                Enterprise
                            </div>
                            <ul>

                                <li>
                                    <i class="glyphicon glyphicon-usd"></i>
                                    Interests from 11% up to 13%
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-time"></i>
                                    Minimum of 4 Years
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-lock"></i>
                                    Minimum of 1.5 Million
                                </li>
                            </ul>
                            <div class="pricing-footer">
                                <a ng-click='saving.changeRoute("enterprise")' class="btn button-custom btn-custom-one">SAVE NOW</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="light-pricing col-lg-3 col-md-3">
                            <div class="price">
                                <i class="ion-ios-bowtie"></i>
                            </div>
                            <div class="type">
                                Entrepreneur
                            </div>
                            <ul>

                                <li>
                                    <i class="glyphicon glyphicon-usd"></i>
                                    Interests from 9% up to 11%
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-time"></i>
                                    Minimum of 3 Years
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-lock"></i>
                                    Minimum of 1 Million
                                </li>
                            </ul>
                            <div class="pricing-footer">
                                <a ng-click='saving.changeRoute("entrepreneur")' class="btn button-custom btn-custom-one">SAVE NOW</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="light-pricing popular col-lg-3 col-md-3">
                            <div class="price">
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="type">
                                Standard
                            </div>
                            <ul>

                                <li>
                                    <i class="glyphicon glyphicon-usd"></i>
                                    Interests from 7% up to 9%
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-time"></i>
                                    Minimum of 2 Years
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-lock"></i>
                                    Minimum of 500 Thousand
                                </li>
                            </ul>
                            <div class="pricing-footer">
                                <a ng-click='saving.changeRoute("standard")' class="btn button-custom btn-custom-one">SAVE NOW</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="light-pricing col-lg-3 col-md-3">
                            <div class="price">
                                <i class="ion-ios-leaf"></i>
                            </div>
                            <div class="type">
                                Starter
                            </div>
                            <ul>

                                <li>
                                    <i class="glyphicon glyphicon-usd"></i>
                                    Interests from 5% up to 7%
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-time"></i>
                                    Minimum of 1 Year
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-lock"></i>
                                    Minimum of 100 Thousand
                                </li>
                            </ul>
                            <div class="pricing-footer">
                                <a ng-click='saving.changeRoute("starter")' class="btn button-custom btn-custom-one">SAVE NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>